/* card */
.card-container {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.card {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 15px gray;
    transition: all 0.5s;
}

    .card:hover {
        box-shadow: 2px 2px 15px #231F20; /*#B71540;*/
        animation: floatAni 2s infinite both ease;
    }

@keyframes floatAni {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }
}

.goods-image {
    min-height: 150px;
    background-image: url('https://images.unsplash.com/photo-1531361171768-37170e369163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 0.25rem;
    cursor: pointer;
}

.goods-name {
    padding-left: 0.75rem;
    border-left: 0.25rem solid #E58E26;
}

.goods-info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.goods-price {
    width: 50%;
}
.goods-id {
    display: none;
}

.goods-buy-number {
    max-width: 50%;
    display: grid;
    grid-template-columns: 55% 25%;
}

    .goods-buy-number input {
        text-align: center;
        border-radius: 0.25rem;
        grid-area: 1/1/3/2;
        border: 1px solid #231F20;
        border-radius: 0.25rem;
    }
/* goods table */
.goods-grid-container {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
}

@media only screen and (min-width: 576px) {
    .goods-grid-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen and (min-width: 768px) {
    .goods-info {
        flex-direction: row;
    }
    .goods-grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
