/* rotate window */
.feature {
    border-bottom: 1px solid #E58E26;
}

.hots-goods {
    position: relative;
    overflow-x: hidden;
}

.rotate-window {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    transition: all 0.5s;
}

    .rotate-window .goods-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .rotate-window .goods-image {
        min-height: 230px;
    }

.angle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

    .angle.right {
        left: auto;
        right: 0;
    }
/* header cover */
header {
    height: 90%;
    position: relative;
    overflow: hidden;
}
.cover-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1050&q=80');
    z-index: -1;
}

.header {
    width: 55%;
    display: table;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(180, 180, 180, 0.5);
    animation: fadeIn 0.5s ease both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        bottom: -0.5rem;
    }
}

@media only screen and (min-width: 576px) {
    .cover-img {
        height: 600px;
        width: 100%;
        top: -150px;
        left: auto;
        right: -280px;
        background-position: 0 0;
        transform: rotate(37deg);
        border-radius: 0 0 65% 35%;
    }

    .header {
        width: 30%;
        height: 60%;
        background-color: transparent; /*#F5F5F5;*/
        border-bottom: 1px solid #231F20;
    }

        .header h1 {
            color: #B71540;
        }

        .header h3 {
            width: 80%;
            color: #231F20;
        }

        .header span {
            position: absolute;
            bottom: 1rem;
        }
}
@media only screen and (min-width: 992px) {
    .cover-img {
        height: 800px;
        top: -210px;
        right: -350px;
        background-position: 50%;
    }

    .header {
        margin-left: 2rem;
    }
}