﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration-line: none;
    border: none;
    /*vertical-align: bottom;*/
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, '微軟正黑體', sans-serif;
}
/* global */
.fs-sm {
    font-size: 1rem;
}

.fs-md {
    font-size: 1.5rem;
}

.fs-lg {
    font-size: 2rem;
}

.c-primary {
    color: #B71540;
}

.c-support {
    color: #E58E26;
}

.c-mix {
    color: #F8C291;
}

.c-bright {
    color: #F5F5F5;
}

.c-dark {
    color: #231F20;
}

.bgc-primary {
    background-color: #B71540;
}

.bgc-support {
    background-color: #E58E26;
}

.bgc-mix {
    background-color: #F8C291;
}

.bgc-bright {
    background-color: #F5F5F5;
}

.bgc-dark {
    background-color: #231F20;
}

.p-2-3 {
    padding: 0.5rem 0.75rem;
}

.p-2-2 {
    padding: 0.5rem;
}

.p-1-1 {
    padding: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.container {
}

.ff-impact {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5rem;
    line-height: 2.25rem;
}

.d-md-blk {
    display: none;
}

i {
    margin-right: 0.75rem;
}

a, .btn, input, button {
    color: #231F20;
    cursor: pointer;
}
a{
    background-color: transparent;
}
.btn {
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s;
    font-family: Tahoma, Geneva, '微軟正黑體', sans-serif;
}

.btn.info {
    background-color: #E58E26;
    color: #F5F5F5;
}

.btn.emp  {
    background-color: #B71540;
    color: #F5F5F5;
}

.btn.other-btn {
    background-color: transparent;
    opacity: 0.5;
}

.btn.emp:hover, .btn.emp:focus {
    background-color: #F5F5F5;
    color: #231F20;
}
.btn a {
    color: #F5F5F5;
}
.btn:hover a{
    color: #231F20;
}
.btn.info:hover, .btn.info:focus {
    background-color: #F8C291;
    color: #231F20;
}

.btn.other-btn:hover, .btn.other-btn:focus {
    opacity: 1;
}
.btn-group {
    width: 95%;
    max-width: 800px;
    margin: 3rem auto 1rem;
    text-align: center;
}

.centerlize {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 576px) {
    .d-md-blk {
        display: initial;
    }

    .ff-impact {
        font-family: Impact, Charcoal, sans-serif;
        line-height: 5rem;
        font-size: 5rem;
    }
    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-group{
        width: 60%;
    }
}
/* header */
nav {
    width: 100%;
    height: 3rem;
    position: fixed;
    background-color: rgba(180, 180, 180, 0.5);
    text-shadow: 0px 0px 15px #231F20;
    z-index: 1;
}

#main-menu:checked ~ .navbar {
    display: flex;
}

.navbar {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
}

.navbar label:not(.close-icon), .navbar a {
    width: 60%;
    display: block;
    padding: 1rem;
    background-color: rgba(185, 185, 185, 0.5);
}

.close-icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor:pointer;
}

.user-unlogin {
    display: block;
}
.user-login {
    display: none;
}

@media only screen and (min-width: 992px) {
    input#main-menu, label[for=main-menu] {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        background-color: transparent;
    }
    .navbar label:not(.close-icon), .navbar a {
        padding: 0 1rem;
        color: #F5F5F5;
        background-color: transparent;
        white-space: nowrap;
        transition: all 0.3s;
    }
    .navbar label:not(.close-icon):hover, .navbar a:hover {
        color: #fff;
        text-shadow: 0 0 15px #F5F5F5;
    }
   .navbar label:not(.close-icon), .navbar a {
        border-right: 1px solid #F5F5F5;
    }
}
/* cart info */
#cart-container, .cart, .total, .total > div, .card {
    width: 95%;
    margin: auto;
}

#cartInfo {
    width: 320px;
    height: calc(100% - 3rem);
    position: fixed;
    top: 3rem;
    left: -105%;
    box-shadow: 5px 10px 15px #231F20;
    transition: all 0.3s;
    z-index: 2;
}

#cart-container {
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cart-toggle {
    position: fixed;
    top: 3.25rem;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 3;
}
#cart-toggle-container:checked ~ label[for=cart-toggle-container] #cart-toggle {
    left: 280px;
    transform: rotate(180deg);
}

#cart-toggle-container:checked ~ #cartInfo {
    left: 0;
}
.user {
    display: grid;
    margin-top: 1.5rem;
    border-bottom: 0.25rem solid silver;
    grid-template-columns: 25% 70%;
    grid-template-rows: 40% 50%;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/3/2;
}

.user img {
    border-radius: 50%;
}

.user-name {
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
    grid-area: 1/2/2/3;
}

.user-id {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    grid-area: 2/2/3/3;
}

.user-name span, .user-id span {
    white-space: nowrap;
    display: block;
    max-width: 150px;
    overflow-x: hidden;
}
.cart {
    height: 100%;
    overflow: auto;
}

.item {
    display: grid;
    border-bottom: 2px solid silver;
    grid-tempalte-columns: 15% 65% 20%;
}

    .item img {
        border-radius: 0.25rem;
        grid-area: 1/1/3/2;
    }

    .item h5 {
        line-height: 0.75rem;
        border-right: 1px solid silver;
        grid-area: 1/2/2/3;
        overflow-x: hidden;
    }

    .item span {
        line-height: 0.75rem;
        border-right: 1px solid silver;
        grid-area: 2/2/3/3;
        overflow-x: hidden;
    }

    .item button {
        grid-area: 2/3/3/4;
    }

    .item .delete {
        grid-area: 1/3/2/4;
    }

.total {
    border-top: 0.25rem solid silver;
}
/* mask */
.mask {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
/* mask */
.mask-form {
    width: 80%;
    max-width: 320px;
    border-radius: 0.5rem;
    border: 0.25rem solid;
}

    .mask-form label, .mask-form input {
        width: 100%;
        display: block;
    }

    .mask-form input {
        position: relative;
        background-color: rgba(245, 245, 245, 0.2);
        border-bottom: 0.25rem solid transparent;
        transition: border-bottom 0.3s;
    }

        .mask-form input:hover, .mask-form input:focus {
            border-bottom-color: #E58E26;
        }

.item-container > * {
    width: 50%;
}

.sign-in-form, .sign-up-form {
    display: none;
    background-color: rgba(245, 245, 245, 0.2);
    text-align: center;
}
.sign-in-form.active, .sign-up-form.active {
    display: block;
}

.sign-form-tag {
    width: 50%;
    border-top: 0.25rem solid transparent;
    background-color: transparent;
    line-height: 2.5rem;
}

.sign-form-tag.active {
    border-top-color: #E58E26;
    background-color: rgba(245, 245, 245, 0.2);
}

#sign-form {
    display: none;
}

    #sign-form:checked ~ div.sign-form {
        display: flex;
    }