
.product {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.product-container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.product-comment-list {

}
#product-detail:checked ~ .product {
    display: block;
}

.product-basic-info {
    width: 100%;
    height: 240px;
    border-bottom: 1px solid #231F20;
}

.product-image {
    width: 50%;
    height: 100%;
}

    .product-image img {
        width: 100%;
        height: 100%;
    }

.product-basic {
    width: 50%;
}

.product-buy-number {
    max-width: 50%;
    display: grid;
    grid-template-columns: 55% 25%;
}

    .product-buy-number input {
        text-align: center;
        border-radius: 0.25rem;
        grid-area: 1/1/3/2;
        border: 1px solid #231F20;
        border-radius: 0.25rem;
    }

.product-rank i, .comment-rank i {
    margin: 0;
}

.product-dscp {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

    .product-dscp p {
        min-height: 50%;
        position: relative;
        top: 50%;
        background-color: #F5F5F5;
        transform: translateY(-50%);
    }

#product-dscp-toggle:checked + .product-dscp {
    display: initial;
}

.product-comment-list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.product-comment {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto auto;
}

.commenter-image {
    height: 70px;
    width: 70px;
    background-image: url("https://images.unsplash.com/photo-1533910534207-90f31029a78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" );
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-shadow: 0px 2px 3px;
    grid-area: 1/1/span 1/span 1;
}

.comment-rank, .product-rank {
    height: 1.5rem;
}

.commenter-comment {
    grid-area: 2/2/span 1/ span 1;
}

@media only screen and (min-width: 768px) {
    .product-basic-info {
        height: 400px;
    }

    .commenter-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .commenter-image {
        height: 120px;
        width: 120px;
        grid-area: 1/1/span 2/span 1;
    }

    label[for=product-dscp-toggle] {
        display: none;
    }

    .product-dscp, .product-dscp p {
        display: block;
        position: initial;
        background-color: #F5F5F5;
    }

    .product-dscp, .product-buy {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        .product-dscp p {
            transform: none;
        }
