.search-bar {
    display: inline-block;
}

    .search-bar input {
        max-width: 0;
        line-height: 2rem;
        border-radius: 0.25rem;
        text-align: center;
        transition: 0.5s;
        border: 0.25rem solid #E58E26;
        vertical-align: bottom;
        opacity: 0;
    }

    .search-bar button {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        transition: 0.3s;
    }

        .search-bar button:hover, .search-bar button:focus {
            background-color: #F5F5F5;
            color: #E58E26;
        }

.fa-search {
    margin: 0;
}

.search-bar:hover input {
    width: 300px;
    max-width: 60%;
    opacity: 1;
}
