.account .container {
    height: 100%;
}

.account-name, .account-id {
    display: table;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.account-background-image {
    height: 150px;
    background-image: url("https://images.unsplash.com/photo-1533910534207-90f31029a78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" );
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    /*border-bottom: 1px solid;*/
    box-shadow: 0px 2px 3px;
}

.account-image img {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 50%;
    box-shadow: 2px 2px 5px;
}

.account-info > div {
    line-height: 2rem;
    border-bottom: 1px solid;
}

.table {
    border-bottom: 1px solid silver;
}

    .table > li {
        display: grid;
        line-height: 1.5rem;
    }

        .table > li:nth-of-type(odd) {
            background-color: silver;
        }

.table-head span {
    font-weight: bold;
}

.table span, .table input {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
}

.table-col li {
    grid-template-columns: 25% 25% 25% 25%;
}

.table-col-3 li {
    grid-template-columns: 33% 33% 33%;
}

.mask {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.mask-form {
    width: 80%;
    max-width: 320px;
    border-radius: 0.5rem;
    border: 0.25rem solid;
}

.mask-form > label, .mask-form > input {
    width: 100%;
    display: block;
}

.mask-form input {
    position: relative;
    background-color: rgba(245, 245, 245, 0.2);
    border-bottom: 0.25rem solid transparent;
    transition: border-bottom 0.3s;
}

.mask-form input:hover, .mask-form input:focus {
    border-bottom-color: #E58E26;
}

.item-container > * {
    width: 50%;
}

#post-product:checked + div.mask, #edit-post:checked + div.mask {
    display: flex;
}

@media only screen and (min-width: 768px) {
    .account-background-image {
        height: 250px;
    }

    .table-col li {
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    }
}
